Langchain
python-dotenv
langchain_community
langchain_openai
langchain_huggingface
sentence-transformers
# cromadb
# faiss-gpu
langchain_google_genai
grandalf
langchain_groq
langserve
fastapi
requests
uvicorn
